ion-content {
    div {
      //height: 100%;
      //width: 100%;
    //   display: inline-block;
    //   justify-content: center;
      //align-items: center;
    }
   }

ion-fab-button {
    --background: #6a33d1;
    position: fixed;
    right: 30px;
    bottom: 40px;
    
    }

ion-title {
    --background: #6a33d1;
}